.Header {
    background-color: darkgreen;
    height: 5%;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}

.text {
    text-align: center;
    color: azure;
    font-size: 20px;
}
